@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Josefin+Sans|Yanone+Kaffeesatz:700,400);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto);
/* font-family: 'Droid Sans Mono', serif;
   font-family: 'Josefin Sans', sans-serif;
   font-family: 'Yanone Kaffeesatz', sans-serif;
  	font-family: 'Shadows Into Light', cursive;
	font-family: 'Roboto', sans-serif;
	font-family: 'Quando', serif;
*/
/*===========================================*/
/*            ESTILO GENERALES PAGINA        */
/*===========================================*/
html,body {
    height:100%;
}

.not-margin{
    margin: 0px;
}

.not-shadow{
    box-shadow: none;
}
#menu-mobile .info-empresa{
	width:120px !important;
	font-size:1.2em;
	font-weight:bold;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white !important;
	padding: 0px 15px;
}


.foto-menu{
	width: 60px;
	padding: 1px;
	background-color: rgb(221, 145, 145);
	border: 1px solid rgb(255, 255, 255);
	margin-top: 20px;
	margin-left:20px;
	margin-bottom: -20px;
}


.btn-dragable{
	position: absolute;
	z-index: 2000;
}

.img-menu{
	width: 100%;
	min-height: 161px;
	position: absolute;
	z-index: -1;
}

#logo{
	margin: 5px 3%;;
	max-width: 150px;
	max-height: 100%;
}

#logo>img{
	max-width: 100%;
	max-height: 60px;
}

/*===========================================*/
/*         ESTILO GENERALES SMARTFONE        */
/*===========================================*/
@media (max-width: 640px) {
	#logo{
		max-width: 120px;
		margin: 10px 0;
	}
	
	#logo>img{
		max-height: 40px;
	}

}




